


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

header{
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 50;
}
.logo{
    height: 60px;
    border-radius: 10px;
    padding-left: 1%;
}
.carrito{
    height: 25px;
}
.menu-icon{
    height: 25px;

}
.toggle-container{
    position: relative;
}
.menu-toggle{
    display: none;
    
}

.menu-label{
    cursor: pointer;
}

.toggle{
    display: none;
    text-align: center;
    background: black;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    margin: 10px auto;
    position: absolute;
    top: 40px;
    right: -60px;
}
.toggle li a{
    list-style: none;
    display: block;
    padding: 10px 0;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.menu-toggle:checked + .toggle {
    display: block;
    
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
}
.navbar-list a {
    color: black;
    transition: all .3s ease;
}
.navbar-list a:hover{
    color: rgba(255,255,255,1);

}
.navbar{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 30px 0 30px ;
    max-width: 1200px;
}
main{
    background: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about{
    background-image: url(img/portada01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    margin: 30px auto;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    filter: brightness(0.1);
}

.container{
    display: flex;
    align-items: center;
    padding: 0 40px 0 20px;
    z-index: 1;
}
.info{
    color: rgba(255,255,255,1);
    font-size: 32px;
    font-weight: 700;
    width: 500px;
}
.info strong{
    color: bisque;
}
.productos{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.product-cards{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color:rgb(0, 0, 0) ;
    border-radius: 10px;
    border-color: black;
    gap: 10px;
    padding: 16px;
    /* gap: 70px; */
    width: 500px;
}
.product-cards button{
    display: inline-block;
    /* margin-top: 20px; */
    background-color: black;
    border: 5px solid rgb(255, 255, 255);
    color: rgba(255,255,255,1);
    border-radius: 10px;
    padding: 15px;
    transition: background-color 0.4s,color 0.4s;
    cursor: pointer;
    align-self: flex-end;
}
.product-cards button:hover{
    color: black;
    background-color: rgba(255,255,255,1);
    transition: background-color 0.4s,color 0.4s;
}
.product-cards strong{
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding-left: 20px;
}
.product-cards h3{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.img-container{
    width: 100%;
    height: 400px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 10px;
    /* transition: all 0.5s; */
}


.about-us{
    padding: 70px 16px;
    max-width: 1200px;
    margin: 105px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-about{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.about-us-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 70%; */
    /* margin: 1%; */
}
.about-us-info h1 {
    font-size: 50px;
    font-weight: 800;
}
.about-us-info p {
    font-size: 16px;
    /* width: 70%; */
    max-width: 500px;
    line-height: 24px;
}
.about-us-img{
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    /* margin: 1%; */
}
.contact{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.container-contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.container-contact ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-contact iframe{
    border-radius: 7px;
}
footer{
    margin-top: 40px;
    width: 100%;
    background-color: bisque;
    /* flex-wrap: wrap; */
    padding: 10px;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    gap: 70px;
    max-width: 1200px;
    margin: auto;
}
.footer-links{
    width: 330px;
}
.footer-links ul li a {
    font-size: 1rem ;
    text-decoration: none;
    display: inline;
    color: black;
}
.footer-links a:hover{
    text-decoration: underline;
}

.footer-links h4{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.footer-container img{
    width: 230px;
    border-radius: 20px;
}

.login{
    width: 400px;
    height: 340px;
    background: bisque;
    margin: auto;
    margin-top: 180px;
    padding: 20px 30px;
    border-top: 4px solid;
}
.login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.login-input{
    width: 100%;
    border: 1px solid;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}
.button{
    width: 100%;
    height: 40px;
    background: bisque;
    margin-bottom: 16px;
}
.login p{
    height: 40px;
    text-align: center;
    border-bottom:1px solid ;
}
.login a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.login a:hover{
    text-decoration: underline;
}